<AuthorizeView>
    <Authorized>
        <MudButton Color="Color.Secondary">@context.User.Identity?.Name!</MudButton>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">
                <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Secondary" />
            </button>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudIconButton Icon="@Icons.Material.Filled.Login" Color="Color.Secondary" Href="Identity/Account/Login" Target="_blank" />
    </NotAuthorized>
</AuthorizeView>
